.blog {
  padding-block: 2rem;
}

h1 {
  font-size: 38px;
  margin-bottom: 4px;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

section {
  max-width: 70ch;
  margin-inline: auto;
  margin-bottom: 2rem;
}

section p {
  margin-bottom: 20px;
  font-size: 18px;
}

p.author {
  font-size: 1rem;
}

p.author,
figcaption {
  margin-bottom: 35px;
}

figcaption {
  text-align: center;
}

@media (max-width: 650px) {
  main {
    max-width: calc(100% - 2rem);
    margin-inline: auto;
  }
}
