.cuisine {
  padding-block: 2rem;
}

section {
  margin-bottom: 2rem;
}

section {
  max-width: 70ch;
  margin-inline: auto;
}

h2 {
  font-size: 38px;
  margin-bottom: 20px;
}

section p {
  margin-bottom: 20px;
  font-size: 18px;
}

figcaption {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 650px) {
  main {
    max-width: calc(100% - 2rem);
    margin-inline: auto;
  }
}
